

body {
    font-family: Oswald, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0;

}

#navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}


#navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#navbar a:hover {
    background-color: #444444;
}

#search-bar {
    height: 50px;
    width:50%;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #000000;
    margin: auto;

}

#search-button {

    border-left: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    height: 65px;
    margin: auto;
    &:hover {
        cursor: pointer;
        background-color: #000000;
        color: white;
    }
}

#search-container {
    margin-top: 50px;
}

#search-container {
    margin-top: 50px;
}

#display-box {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  
}

#display-box span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#display-box hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#parent-box {
    height: 50%;
    width: 25%;
    box-shadow: 5px 10px 20px #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
}

#display-box {
    
}